* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#passion-blue-heading { 
    font-family: lobster;
    color: black;
    text-align: center; 
}
#royal-blue-space {
    background-color: #03256c;
    color: white;
    font-family: lobster;
    text-align: center;
    padding: 24px;
}
#persian-blue-space {
    background-color: #2541B2;
    color: white;
    font-family: lobster;
    text-align: center;
    padding: 24px;
}
#green-blue-space {
    background-color: #1768AC;
    color: white;
    font-family: lobster;
    text-align: center;
    padding: 24px;
}
#aero-blue-space {
    background-color: #06BEE1;
    color: white;
    font-family: lobster;
    text-align: center;
    padding: 24px;
}

#tropical-bliss-heading { 
    font-family: lobster;
    color: black;
    text-align: center; 
}
#bittersweet-space {
    background-color: #FF5C61;
    color: black;
    font-family: lobster;
    text-align: center;
    padding: 24px;
}
#mikado-space {
    background-color: #FFC31F;
    color: black;
    font-family: lobster;
    text-align: center;
    padding: 24px;
}
#yellow-green-space {
    background-color: #A1DB43;
    color: black;
    font-family: lobster;
    text-align: center;
    padding: 24px;
}
#ultra-violet-space {
    background-color: #614587;
    color: black;
    font-family: lobster;
    text-align: center;
    padding: 24px;
}

#cotton-candy-heading { 
    font-family: lobster;
    color: black;
    text-align: center; 
}
#deep-plum-space {
    background-color: #EC91D8;
    color: black;
    font-family: lobster;
    text-align: center;
    padding: 24px;
}
#plum-space {
    background-color: #FFAAEA;
    color: black;
    font-family: lobster;
    text-align: center;
    padding: 24px;
}
#lavender-pink-space {
    background-color: #FFBEEF;
    color: black;
    font-family: lobster;
    text-align: center;
    padding: 24px;
}
#mimi-pink-space {
    background-color: #FFD3DA;
    color: black;
    font-family: lobster;
    text-align: center;
    padding: 24px;
}

