* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, #C5D86D,#306B34);
    display: flex;
    align-items: center;
}
   
#navbar a {
    text-decoration: none;
    color: #302222;
    padding: 24px;
    font-size: 25px;
}
   
#navbar h1 {
    margin-right: auto;
    width: 150px;
    font-size: 50px;
    padding-left: 25px;
}

#navbar img {
    width: 100px;
}


#navbar-2 {
    background: linear-gradient(to bottom, #FFB563,#F85E00);
    display: flex;
    align-items: center;
}
   
#navbar-2 a {
    text-decoration: none;
    color: #A41623;
    padding: 24px;
    font-size: 15px;
}
   
#navbar-2 h1 {
    margin-right: auto;
    width: 150px;
    font-size: 30px;
    padding-left: 25px;
    color: #A41623;
}

#navbar-2 .cta-button {
    background-color: #FFD29D;
    color: #A41623; 
    border-radius: 36px;
    padding: 12px 20px; 
    font-size: 20px;
    font-weight: bold; 
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}    


.content-1 {
    width: 800px;
    margin: 0px auto;
    text-align: center;

}
   
#navbar-3-top {
    background: #7f0a7f;
}
   
#navbar-3-top .content-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

#navbar-3-top .content-1 h1 {
    color: white;
    font-size: 25px;
    margin: 0px auto;
    text-align: center;
}

#navbar-3-middle {
    background: linear-gradient(to bottom, orangered, yellow);
    display: flex;
    align-items: center;
}

#navbar3-middle h1 {
    margin-right: auto;
    width: 150px;
    font-size: 50px;
    padding-left: 25px;
}

#navbar-3-middle a {
    text-decoration: none;
    color: black;
    padding: 0px 25px;
    justify-content: space-between;
}

#navbar-3-middle .cta-buttom {
    background-color: white;
    color: black;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-left: px;
}

#navbar-3-middle .content-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

#navbar-3-middle img {
    width: 100px;
}
   
#navbar-3-bottom {
    background: #7f0a7f;
}
   
#navbar-3-bottom .content-3 {
    display: flex;
    justify-content: space-between;
}
   
#navbar-3-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
}