* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(to bottom, yellow, green);
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
}

#navbar a:hover {
    background: linear-gradient(to top, green, yellow);
}

.dropdown-container {
    position: relative;
}

.dropdown-menu a {
    background-color: darkgreen;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: yellowgreen;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
    position: absolute;

}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}